/*
マイページ
*/


/*
ヘッダー
*/
.my-page-header {
  padding: 1.875rem;
  background-color: #1A3F5F;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.my-page-logo {
  font-size: 1.125rem;
  font-family: 'Alata', sans-serif;
  color: #fff;
}

.my-page-header-logo {
  margin-bottom: 2.5rem;
}


/*
ヘッダー共通
*/
.user-btn,
.user-btn i,
.my-page-home a,
.my-page-home a i,
.my-page-nav ul li a,
.my-page-nav ul li a i {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}

.user-btn i,
.my-page-home a i,
.my-page-nav ul li a i {
  margin-right: 0.625rem;
}

.my-page-user,
.my-page-home,
.my-page-nav {
  padding: 2.5rem 0;
}

.my-page-user,
.my-page-home {
  border-bottom: solid 1px #fff;
}

.my-page-nav ul li {
  margin-bottom: 1.56rem;
}

/*
ヘッダードロップダウンメニュー
*/
.profile-link-btn,
.hamburger-btn {
  color: #fff;
}


/*
マイページ内容
*/
.my-page-main,
.profile-header {
  padding: 0;
  margin-left: 12.5rem;
}

.profile-content {
  margin-left: 12.5rem;
}



/*
レスポンシブ
*/

/*
〜640px
*/
@media screen and (max-width: 640px) {
  .my-page-header {
    width: 100%;
    height: auto;
  }

  .my-page-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .my-page-header-logo {
    margin-bottom: 0;
  }

  .my-page-pc {
    display: none;
  }

  .responsive-nav-menu {
    padding-top: 2.5rem;
    transition: all 0.3s ease;
  }
}
