.font-sans {
  font-family: 'Noto Sans JP', sans-serif;
}


/*
マイページ
*/


/*
ヘッダー
*/
.my-page-header {
  padding: 1.875rem;
  background-color: #1A3F5F;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
}

.my-page-logo {
  font-size: 1.125rem;
  font-family: 'Alata', sans-serif;
  color: #fff;
}

.my-page-header-logo {
  margin-bottom: 2.5rem;
}


/*
ヘッダー共通
*/
.user-btn,
.user-btn i,
.my-page-home a,
.my-page-home a i,
.my-page-nav ul li a,
.my-page-nav ul li a i {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}

.user-btn i,
.my-page-home a i,
.my-page-nav ul li a i {
  margin-right: 0.625rem;
}

.my-page-user,
.my-page-home,
.my-page-nav {
  padding: 2.5rem 0;
}

.my-page-user,
.my-page-home {
  border-bottom: solid 1px #fff;
}

.my-page-nav ul li {
  margin-bottom: 1.56rem;
}

/*
ヘッダードロップダウンメニュー
*/
.profile-link-btn,
.hamburger-btn {
  color: #fff;
}


/*
マイページ内容
*/
.my-page-main,
.profile-header {
  padding: 0;
  margin-left: 12.5rem;
}

.profile-content {
  margin-left: 12.5rem;
}

.goal-container {
  background-color: #F4FFF8;
  border: solid 1px #999999;
  padding: 1.875rem;
  margin: 1.875rem;
}

.goal-title {
  margin-bottom: 3.75rem;
}

.goal-proccess {
  color: #1A3F5F;
  font-size: 2rem;
  font-weight: bold;
  display: block;
  text-align: center;
}

.goal-content li {
  display: flex;
  align-items: flex-end;
  margin-bottom: 6.25rem;
}

.goal-graph-content {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.goal-name {
  width: 15.625rem;
  font-size: 1.125rem;
  font-weight: bold;
}

.goal-start {
  margin-right: 0.625rem;
}

.goal-start i {
  font-size: 1.25rem;
  color: #db5727;
}

.goal-start,
.goal-finish {
  text-align: center;
}

.goal-start-date,
.goal-end-date {
  font-size: 0.75rem;
  font-weight: bold;
}

.goal-graph {
  width: 100%;
}

.goal-bar {
  border: solid 1px #707070;
  background-color: #fff;
  padding: 0.125rem;
}

.goal-bar-inner {
  display: block;
  background-color: #FF4E4E;
  height: 1.5rem;
  position: relative;
}

.goal-icon {
  position: absolute;
  top: -1.625rem;
  right: -0.7rem;
}

.goal-icon i {
  color: #333;
  font-size: 1.5rem;
}

.goal-persent {
  position: absolute;
  bottom: -3.25rem;
  right: -2.215rem;
  color: #fff;
  font-weight: bold;
  background-color: #1A3F5F;
  padding: 0.3125rem 0.9375rem;
}

.goal-persent-triangle {
  border-bottom: solid 10px #1A3F5F;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  position: absolute;
  bottom: -20px;
  right: -5px;
}

.goal-finish {
  margin-left: 0.625rem;
}

.goal-finish i {
  color: #02773D;
  font-size: 1.25rem;
}


/* フッター */
.dashboard-footer {
  margin-left: 12.5rem;
  padding: 1.875rem 0;
}


/*
目標・タスク追加ページ
*/
.create-bg {
  height: 15.625rem;
  background-image: url(/image/firstview.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.create-bg-cover {
  background-color: rgba(51, 51, 51, 50%);
  position: relative;
  width: 100%;
  height: 100%;
}

.create-bg-cover h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 5.3125rem;
  transform: translateY(-50%);
}

.create-bg-cover h1 i {
  color: #fff;
  margin-left: 0.625rem;
}

.create-content {
  padding: 3.125rem 5.3125rem;
}

.create-form label {
  display: block;
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 3.125rem;
}

.create-step {
  color: #0089FF;
  font-size: 1.75rem;
  margin-right: 0.3125rem;
}

.create-form .form-p {
  margin-bottom: 4.375rem;
}

.create-form .form-p,
.form-block,
.category-color {
  font-size: 1.125rem;
  font-weight: bold;
}

.form-block {
  margin-bottom: 1.5625rem;
}

.create-form i {
  margin-right: 0.625rem;
}

.create-input {
  margin-left: 1.25rem;
  border-color: transparent;
  border-width: 0;
  border-bottom: solid 1px #333;
}

.form-submit-btn {
  font-size: 1.125rem;
  color: #fff;
  font-weight: bold;
  padding: 0.625rem 2.5rem;
  background: linear-gradient(-135deg, #6C00FF, #00B1FF);
  transition: all 0.3s ease;
  cursor: pointer;
}

.form-submit-btn:hover {
  background: linear-gradient(-135deg, #ff3d16, #ffcf7c);
}


/*
目標
*/
.create-form .fa-flag {
  color: #F55D63;
}

.create-form .fa-calendar-alt {
  color: #08C76F;
}


/*
タスク
*/
.create-form .fa-tasks {
  color: #08C76F;
}

.create-form .fa-calendar-check {
  color: #1394D8;
}

.priority {
  color: #F7503B;
}

.severity {
  color: #EF9350;
}

.select-stars {
  color: #FFD421;
}

.create-form .fa-pen {
  color: #8D8D8D;
}

.category-color {
  margin-left: 0.9375rem;
}

.new-category-btn {
  margin-top: 1.25rem;
}

.new-category {
  font-weight: normal;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.3s ease;
}

.new-category:hover {
  color: #1394D8;
  text-decoration: none;
}

.hide-new-category .create-input:first-child {
  margin-left: 0;
}

.hide-new-category {
  display: none;
  transition: all 0.3s ease;
}

.show-new-category {
  display: block;
}



/*
レスポンシブ
*/

/*
〜640px
*/
@media screen and (max-width: 640px) {
  .my-page-header {
    width: 100%;
    height: auto;
  }

  .my-page-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .my-page-header-logo {
    margin-bottom: 0;
  }

  .my-page-pc {
    display: none;
  }

  .responsive-nav-menu {
    padding-top: 2.5rem;
    transition: all 0.3s ease;
  }

  .my-page-main {
    margin-left: 0;
    padding-top: 5.714rem;
  }

  .form-submit-btn {
    display: block;
    margin: 0 auto;
  }

  .dashboard-footer {
    margin-left: 0;
  }

  .create-content {
    padding: 3.125rem 1.4285rem;
  }


  /* 目標 */
  .goal-container {
    margin: 7.14rem 0.93rem 0.93rem 0.93rem;
  }
  .goal-content li {
    flex-direction: column;
    align-items: flex-start;
  }

  .goal-name {
    margin-bottom: 1.25rem;
    width: 100%;
    border-bottom: solid 1px #333;
  }
}
